---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
AccessModifierOffset: -4
ColumnLimit: 80
MaxEmptyLinesToKeep: 1
SeparateDefinitionBlocks: "Always"
KeepEmptyLinesAtEOF: true
KeepEmptyLinesAtTheStartOfBlocks: false
